fastapi
python-multipart 


langchain
langchain-community
langchain-core
langchain-groq


pinecone


langchain-google-genai

PyPDF 

python-dotenv

pydantic
requests
tqdm

loguru

uvicorn

#  uv pip install -r requirements.txt